---
language: node_js
node_js:
  - node
  - lts/*
cache:
  directories:
    - $HOME/.npm
before_install:
  - npm install -g npm@latest
install:
  - npm install
script:
  - npx lerna bootstrap
  - npx lerna run test
  - npx commitlint-travis
