---
language: node_js
node_js:
  - 12
  - 10
cache:
  directories:
    - ~/.npm
before_install:
  - npm install --global npm@latest
install:
  - npm audit
  - npm ci
script:
  - npx commitlint-travis
  - npm test
